<!DOCTYPE html>
<html ng-app="fikit">
    <head>
        <title>fixit webapp</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

        <!-- angularjs -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
        <!-- Firebase -->
        <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>

        <!-- AngularFire -->
        <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
        <!-- Angular Sanitize -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.9/angular-sanitize.min.js"></script>

        <script>
          // Initialize Firebase
          var config = {
            apiKey: "AIzaSyC8Ks8JyvUj3q0CfAdvLNbtmMSt9TKNL3k",
            authDomain: "fikit-f63ac.firebaseapp.com",
            databaseURL: "https://fikit-f63ac.firebaseio.com",
            projectId: "fikit-f63ac",
            storageBucket: "fikit-f63ac.appspot.com",
            messagingSenderId: "893646859592"
          };
          firebase.initializeApp(config);
        </script>

        <script src="/angular/scripts/app.js"></script>

    </head>
    <body ng-controller="BoardingProcessManagerController">
        <div class="container-fluid" >
            <div class="jumbotron">
                <h1 class="display-1">Fik It</h1>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Boarding Process Manager</h1>
                </div>
            </div>

            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Item</th>
                  <th scope="col">Description</th>
                  <th scope="col">Type of Input</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="item in items">
                    <th scope="row">{{$index+1}}</th>
                    <td>{{item.name}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.inputType}}</td>
                    <td>
                        <div class="btn-group" role="group">
                            <button class="btn btn-danger" type="button" ng-click="delete($index)">Delete</button>
                            <button class="btn btn-warning" type="button" ng-click="edit(item.$id)" data-item="{{$index}}" data-toggle="modal" data-target="#edit-modal">Edit</button>
                        </div>
                    </td>
                  </tr>
              </tbody>
          </table>
            <div class="row">
                <div class="col-md-1 btn-group" role="group">
                    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#add-modal">Add</button>
                </div>
            </div>
        </div>

        <!-- ADD MODAL -->
        <div class="modal fade" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                    <form>
                        <div class="form-group">
                            <label>Title</label>
                            <input class="form-control" placeholder="Title" ng-model="new_name"></input>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <input class="form-control" placeholder="Description" ng-model="new_description"></input>
                        </div>
                        <div class="form-group">
                            <label>Type of Input</label>
                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" ng-model="new_input">
                                <option selected value="range">Scale(1-10)</option>
                                <option value="list">List</option>
                                <option value="number">Numerical</option>
                                <option value="Checkbox">Checkbox</option>
                                <option value="text">Text Feild</option>
                            </select>
                        </div>
                    </form>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="addItem()">Add</button>
              </div>
            </div>
          </div>
        </div>
        <!-- EDIT MODAL -->

        <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                    <form>
                        <div class="form-group">
                            <label>Title</label>
                            <input id="edit-title" class="form-control" placeholder="Title" ng-model="items[edit_i].name"></input>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <input id="edit-description" class="form-control" placeholder="Description" ng-model="items[edit_i].description"></input>
                        </div>
                        <div class="form-group">
                            <label>Type of Input</label>
                            <select class="custom-select mr-sm-2" id="edit-input" ng-model="items[edit_i].inputType">
                                <option selected value="range">Scale(1-10)</option>
                                <option value="1">List</option>
                                <option value="number">Numerical</option>
                                <option value="Checkbox">Checkbox</option>
                                <option value="text">Text Feild</option>
                            </select>
                        </div>
                        <div ng-show="items[edit_i].inputType == 1">
                            <div class="input-group mb-3" ng-repeat="i in items[edit_i].listItems track by $index">
                              <input type="text" class="form-control" ng-model="items[edit_i].listItems[$index]">
                              <div class="input-group-append">
                                <button class="btn btn-outline-danger" type="button" ng-click="items[edit_i].listItems.splice($index,1)">Delete</button>
                              </div>
                            </div>
                            <button type="button" class="btn btn-outline-primary" ng-click="items[edit_i].listItems.push(' ')"> Add</button>
                        </div>
                    </form>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-warning" ng-click="editItem()" data-dismiss="modal">Edit</button>
              </div>
            </div>
          </div>
        </div>
    </body>
</html>
